<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="UsingCompressUncompressSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://10.85.5.238/SD_TOE_Service/UsingCompressUncompress.asmx"
                binding="basicHttpBinding" bindingConfiguration="UsingCompressUncompressSoap"
                contract="Palau.UsingCompressUncompressSoap" name="UsingCompressUncompressSoap" />
        </client>
    </system.serviceModel>
</configuration>